packages/
HRSA.Core.DataAccess/bin/
HRSA.Core.DataAccess/obj/
Prototyped-MVC-WebApplication/bin/
Prototyped-MVC-WebApplication/obj/
Prototyped-MVC-WebApplicationTest/bin/
Prototyped-MVC-WebApplicationTest/obj/
